.footer{
  background-color: #16133D;
  height: 195px;
}

.logo-footer{
  padding-top: 40px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;

  &__item {
    padding-right: 8px;
  }
}