*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $dark-blue;
  line-height: $line-height;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

